swagger: "2.0"
info:
  description: "MangaRock API documentation"
  version: "1.0.0"
  title: "MangaRock API"
host: "api.mangarockhd.com"
basePath: "/query/web401"
tags:
- name: "list"
- name: "info"
- name: "search"
- name: "read"
  description: "Pages are in an unknown 'MRI' file format that needs decryption"
- name: "recommendations"
- name: "unknown"
schemes:
- "https"
paths:
  /mrs_latest:
    get:
      tags:
      - "list"
      summary: "Latest updates"
      description: ""
      responses:
        200:
          schema:
            type: "object"
            properties:
              code:
                $ref: "#/definitions/return-code"
              data:
                type: "array"
                items:
                  $ref: "#/definitions/serie"
  /mrs_filter:
    post:
      tags:
      - "list"
      summary: "All manga available on the web site"
      description: ""
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          type: "object"
          properties:
            genres:
              type: "object"
              properties:
                mrs-genre-<int>:
                  type: "integer"
                  default: 0
            order:
              type: "string"
              enum:
              - "rank"
              - "name"
            rank:
              type: "string"
              enum:
              - "all"
              - "1-999"
              - "1000-2000"
              - "2000-3000"
            status:
              type: "string"
              enum:
              - "all"
              - "completed"
              - "ongoing"
      responses:
        200:
          schema:
            type: "object"
            properties:
              code:
                $ref: "#/definitions/return-code"
              data:
                type: "array"
                items:
                  $ref: "#/definitions/serie-oid"
definitions:
  return-code:
    type: "integer"
    default: 0
  serie-oid:
    type: "string"
    pattern: "mrs-serie-(\d+)"
  chapter-oid:
    type: "string"
    pattern: "mrs-chapter-(\d+)"
  genre-oid:
    type: "string"
    pattern: "mrs-genre-(\d+)"
  author-oid:
    type: "string"
    pattern: "mrs-author-(\d+)"
  character-oid:
    type: "string"
    pattern: "mrs-character-(\d+)"
  collection-oid:
    type: "string"
    pattern: "mrs-collection-(\d+)"
  jpeg-url:
    type: "string"
    pattern: "https:\/\/f01\.mrcdn\.info\/file\/mrportal\/(.*)\.jpg"
  mri-url:
    type: "string"
    pattern: "https:\/\/f01\.mrcdn\.info\/file\/mrportal\/(.*)\.mri"
  serie:
    type: "object"
    properties:
      oid:
        $ref: "#/definitions/serie-oid"
      name:
        type: "string"
      genres:
        type: "array"
        items:
          $ref: "#/definitions/genre-oid"
      rank:
        type: "integer"
      updated_chapter:
        type: "integer"
      new_chapters:
        type: "array"
        items:
          type: "object"
          properties:
            oid:
              $ref: "#/definitions/chapter-oid"
            name:
              type: "string"
            updatedAt:
              type: "string"
              format: "date-time"
      completed:
        type: "boolean"
        default: false
      thumbnail:
        $ref: "#/definitions/jpeg-url"
      updated_at:
        type: "string"
        format: "date-time"
