swagger: "2.0"
info:
  description: "MangaRock API documentation"
  version: "1.0.0"
  title: "MangaRock API"
host: "api.mangarockhd.com"
basePath: "/query/web401"
tags:
- name: "list"
- name: "info"
- name: "search"
- name: "read"
  description: "Pages are in an unknown 'MRI' file format that needs decryption"
- name: "recommendations"
- name: "unknown"
schemes:
- "https"
paths:
  /mrs_latest:
    get:
      tags:
      - "list"
      summary: "Latest updates"
      description: ""
      produces:
      - "application/json"
      responses:
        200:
          schema:
            type: "object"
            properties:
              code:
                type: "integer"
                default: 0
              data:
                type: "array"
                items:
                  $ref: "#/definitions/serie"
definitions:
  serie:
    type: "object"
    properties:
      oid:
        type: "string"
        default: "mrs-serie-<int>"
      name:
        type: "string"
      genrese:
        type: "array"
        items:
          type: "string"
          default: "mrs-genre-<int>"
        rank:
          type: "integer"
        updated_chapter:
          type: "integer"
        new_chapters:
          type: "array"
          items:
            type: "object"
            properties:
              oid:
                type: "string"
                default: "mrs-chapter-<int>"
              name:
                type: "string"
              updatedAt:
                type: "string"
                format: "date-time"
